<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>activation email for Roshan food house</title>
  </head>
  <body>
    <h1>Welcome Roshan food house</h1>

    <div class="">
      <%=user.name%>,
      <p>hello sir thanks for registering in Roshan food house</p>

      <p>please enter the code</p>
      <h2><%= activationCode %></h2>
      <p>Enter this code on activatio page within next 5 minute</p>
    </div>
  </body>
</html>
