<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment email for Roshan food house</title>
  </head>
  <body>
    <h1>Welcome Roshan food house</h1>

    <div class="">
      Hello <%=user.name%>,
      <p>Your payment is successfull</p>
    </div>
  </body>
</html>
